{% extends "base.html" %}
{% block content %}

<!-- Blog Section -->
<div id="blog" class="page-alternate">
	<div class="container">
    	<div class="row">
        	<div class="span12">

            	<article class="post">
                	<div class="post-thumb">
                    	<a href="blog-details.html">
                        	<img src="_include/img/work/full/image-01-full.jpg" alt="Image Example" />
                        </a>
                    </div>
                	<h2 class="entry-title">
                    	<a href="blog-details.html">Morbi suscipit interdum molestie.</a>
                    </h2>
                    <div class="entry-meta">
                        <span class="author">By Jane</span>
                        <span class="divider">/</span>
                        <span class="published">April 25, 2013</span>
                        <span class="divider">/</span>
                        <span class="comment-count">
                        <a href="blog-details.html">4 Comments</a>
                        </span>
                    </div>

                    <div class="entry-content">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et lacus et dui elementum tempus. Vivamus laoreet pharetra velit quis pulvinar.
                        Suspendisse facilisis, est sit amet vestibulum porttitor, est odio aliquet sapien, eget porttitor odio arcu et sapien. Nulla facilisi. Aenean a orci augue.
                        Curabitur tristique posuere eros a feugiat. Maecenas nisi dui, rutrum ut posuere vel, convallis quis odio.</p>

                        <p>Nam laoreet pulvinar tortor, sed vehicula elit pellentesque vitae. Vestibulum diam orci, accumsan vel fermentum quis, gravida id purus.
                        Maecenas aliquet, magna euismod porta rutrum, diam ante dignissim mauris, et sollicitudin sapien ante non dui. Aliquam laoreet semper pharetra. Maecenas vitae tincidunt quam. Duis lorem dolor, tempor eu dapibus id, consequat et quam.</p>

                        <p>Phasellus aliquet est et nisi fermentum quis feugiat odio placerat. Etiam sagittis, diam quis lobortis pulvinar, mauris mauris interdum risus, vel sollicitudin massa odio id ligula.</p>

                        <p>
                        	<a class="more-link" href="blog-details.html">Continue Reading...</a>
                        </p>
                    </div>
                </article>

                <article class="post">
                	<div class="post-thumb">
                    	<a href="blog-details.html">
                        	<img src="_include/img/work/full/image-03-full.jpg" alt="Image Example" />
                        </a>
                    </div>
                	<h2 class="entry-title">
                    	<a href="blog-details.html">Morbi suscipit interdum molestie.</a>
                    </h2>
                    <div class="entry-meta">
                        <span class="author">By Juiliet</span>
                        <span class="divider">/</span>
                        <span class="published">April 25, 2013</span>
                        <span class="divider">/</span>
                        <span class="comment-count">
                        <a href="blog-details.html">4 Comments</a>
                        </span>
                    </div>

                    <div class="entry-content">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et lacus et dui elementum tempus. Vivamus laoreet pharetra velit quis pulvinar.
                        Suspendisse facilisis, est sit amet vestibulum porttitor, est odio aliquet sapien, eget porttitor odio arcu et sapien. Nulla facilisi. Aenean a orci augue.
                        Curabitur tristique posuere eros a feugiat. Maecenas nisi dui, rutrum ut posuere vel, convallis quis odio.</p>

                        <p>Nam laoreet pulvinar tortor, sed vehicula elit pellentesque vitae. Vestibulum diam orci, accumsan vel fermentum quis, gravida id purus.
                        Maecenas aliquet, magna euismod porta rutrum, diam ante dignissim mauris, et sollicitudin sapien ante non dui. Aliquam laoreet semper pharetra. Maecenas vitae tincidunt quam. Duis lorem dolor, tempor eu dapibus id, consequat et quam.</p>

                        <p>Phasellus aliquet est et nisi fermentum quis feugiat odio placerat. Etiam sagittis, diam quis lobortis pulvinar, mauris mauris interdum risus, vel sollicitudin massa odio id ligula.</p>

                        <p>
                        	<a class="more-link" href="blog-details.html">Continue Reading...</a>
                        </p>
                    </div>
                </article>

                <article class="post">
                	<div class="post-thumb">
                    	<a href="blog-details.html">
                        	<img src="_include/img/work/full/image-05-full.jpg" alt="Image Example" />
                        </a>
                    </div>
                	<h2 class="entry-title">
                    	<a href="blog-details.html">Morbi suscipit interdum molestie.</a>
                    </h2>
                    <div class="entry-meta">
                        <span class="author">By Marcus</span>
                        <span class="divider">/</span>
                        <span class="published">April 25, 2013</span>
                        <span class="divider">/</span>
                        <span class="comment-count">
                        <a href="blog-details.html">4 Comments</a>
                        </span>
                    </div>

                    <div class="entry-content">
                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et lacus et dui elementum tempus. Vivamus laoreet pharetra velit quis pulvinar.
                        Suspendisse facilisis, est sit amet vestibulum porttitor, est odio aliquet sapien, eget porttitor odio arcu et sapien. Nulla facilisi. Aenean a orci augue.
                        Curabitur tristique posuere eros a feugiat. Maecenas nisi dui, rutrum ut posuere vel, convallis quis odio.</p>

                        <p>Nam laoreet pulvinar tortor, sed vehicula elit pellentesque vitae. Vestibulum diam orci, accumsan vel fermentum quis, gravida id purus.
                        Maecenas aliquet, magna euismod porta rutrum, diam ante dignissim mauris, et sollicitudin sapien ante non dui. Aliquam laoreet semper pharetra. Maecenas vitae tincidunt quam. Duis lorem dolor, tempor eu dapibus id, consequat et quam.</p>

                        <p>Phasellus aliquet est et nisi fermentum quis feugiat odio placerat. Etiam sagittis, diam quis lobortis pulvinar, mauris mauris interdum risus, vel sollicitudin massa odio id ligula.</p>

                        <p>
                        	<a class="more-link" href="blog-details.html">Continue Reading...</a>
                        </p>
                    </div>
                </article>

                <div class="navigation page-navigation">
                	<a class="prev" href="#">Prev</a>
                    <a class="number">1</a>
                    <a class="number">2</a>
                    <a class="number current">3</a>
                    <a class="number">4</a>
                    <a class="number">5</a>
                    <a class="next" href="#">Next</a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Blog Section -->

{% endblock %}